@font-face {
  font-family: 'Red Rose';
  src: url('/fonts/RedRose/RedRose-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html, body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
  font-family: 'Red Rose', fantasy;
  font-weight: bolder;
}

body {
  position: relative;
}

nav a.navbar-brand {
  font-weight: bold;
}
nav a.nav-link.active {
  font-weight: bold;
}

section {
  min-height: 200px;
  padding: 1rem 0;
}
section h2 {
  text-align: center;
}
section:nth-child(odd) {
  background: var(--light);
}
section:first-child {
  background: var(--gray-dark);
  color: white;
}
section:last-child {
  padding-bottom: 4rem;
}

.profile-photo {
  border: 4px solid white;
  border-radius: 100%;
}

a.animated {
  transition: all 0.4s;
  display: inline-block;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  font-weight: bolder;
  color: inherit;
  text-decoration: none !important;
  background-image: linear-gradient(to bottom, var(--primary) 0%, var(--primary) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 4px;
}

a.animated:hover {
  color: white !important;
  text-decoration: none !important;
  background-size: 100% 100%;
}

#skills .container {
  max-width: 30rem;
}
#skills .badge {
  font-size: 1.2rem;
  margin: 0.25rem;
}
