@font-face {
  font-family: 'Red Rose';
  font-display: swap;
  src: url('./fonts/RedRose/RedRose-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

$font-family-base: 'Roboto', sans-serif;
$font-family-headings: 'Red Rose', fantasy;
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
$primary: #58f04d;
$secondary: #f04dae;
$body-bg: white; //#E0E0E0;
$body-color: #3b3b3b;
$jumbotron-bg: #3b3b3b;

//#32A629
//#95FF8E
//#58F04D
//#A31469
//#F04DAE

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

//@include fa-linkedin;
//fa-linkedin
//fa-github-square
//fa-youtube

h1,
h2,
h3 {
  font-family: $font-family-headings;
  font-weight: bolder;
}

body {
  position: relative;
}

nav a.navbar-brand {
  font-weight: bold;
}
nav a.nav-link.active {
  font-weight: bold;
}

nav {
  height: 3rem;
  contain: strict;
  content-visibility: auto;
}
section {
  min-height: 200px;
  padding: 1rem 0;
  contain: layout style paint;
  content-visibility: auto;
}
section h2 {
  text-align: center;
}
section:nth-child(odd) {
  background: $light;
}
section:first-child {
  background: $jumbotron-bg;
  color: white;
}
section:last-child {
  padding-bottom: 4rem;
}

.profile-photo {
  border: 4px solid white;
  border-radius: 100%;
}

a.animated {
  transition: all 0.4s;
  display: inline-block;
  padding: 0.25em;
  line-height: 1.5;
  font-weight: bolder;
  color: inherit;
  text-decoration: none !important;
  background-image: linear-gradient(to bottom, $primary 0%, $primary 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 4px;
}

a.animated:hover {
  color: black !important;
  text-decoration: none !important;
  background-size: 100% 100%;
}

#skills .container {
  max-width: 30rem;
}
#skills .badge {
  font-size: 1.2rem;
  margin: 0.25rem;
}
